body{
    background-color: bisque;
    height: 50vh;
}

.container{
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-top: 50%;
    background-color:;
    margin-left: 25%;
    margin-top: 5%;
    position: relative;
}
.ratas1{
    /* margin-left: 25%;
    margin-top: 15%; */
    width: 20%;
    border-radius: 50%;
    background-color: blue;
    height: 20%;
    position: absolute;
    left: 10%;
    bottom: 0;
}
.ratas2{
    /* margin-left: 50%;
    margin-top: 15%; */
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    left: 45%;
    bottom: 0;20%
}

.ratas3{
    /* margin-left: 75%;
    margin-top: 15%; */
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    left: 78%;
    bottom: 0;
    
}
.kabina{
    display: inline-block;
    float: left;
    width: 35%;
    height: 35%;
    background-color:green;
    position: absolute;
    top: 55%;
    left: 0%;
}
.langas1{
    display: inline-block;
    float: left;
    width: 35%;
    height: 45%;
    border-radius: 10%;
    background-color: aquamarine;
    position: absolute;
    top: 6%;
    left: 0%;
}
.langas2{
    display: inline-block;
    float: left;
    width: 44%;
    height: 45%;
    border-radius: 10%;
    background-color: aquamarine;
    position: absolute;
    top: 6%;
    left: 46%;
}
.kebulas{
    display: inline-block;
    float: left;
    width: 58%;
    height: 45%;
    background-color: yellow;
    position: absolute;
    top: 46%;
    right: 0;
}
.jungtis{
    display: inline-block;
    float: left;
    width: 7%;
    height: 9%;
    background-color:black;
    position: absolute;
    top: 81%;
    left: 35%;
}
.krovinys{
    display: inline-block;
    float: left;
    width: 50%;
    height: 20%;
    background-color: red;
    border-top-right-radius: 100% 200%;
    border-top-left-radius: 100% 200%;
    border-bottom: 0;
    position: absolute;
    top: 26%;
    right: 4%;

}
.krovinys > a{
    display: inline-block;
    float: right;
    text-align: center;
    width: 20%;
    background-color: none;
    font-size: 25px;
    text-decoration: none;
    padding: 10%;
    box-sizing: border-box;
    position: absolute;
    top: -30%;
    left: 38%;
  
}

.container > a{
    display: inline-block;
    float: right;
    text-align: center;
    width: 20%;
    background-color: none;
    font-size: 25px;
    text-decoration: none;
    padding: 0%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}