:root {
    --gap: 40px;
    --w1: calc((100% - 11 * var(--gap)) / 12);
    --w2: calc( var(--w1)) + var(--gap) + var(--w1);
    --w3: calc( var(--w2)) + var(--gap) + var(--w1);
    --w4: calc( var(--w3)) + var(--gap) + var(--w1);
    --w5: calc( var(--w4)) + var(--gap) + var(--w1);
    --w6: calc( var(--w5)) + var(--gap) + var(--w1);
    --w7: calc( var(--w6)) + var(--gap) + var(--w1);
    --w8: calc( var(--w7)) + var(--gap) + var(--w1);
    --w9: calc( var(--w8)) + var(--gap) + var(--w1);
    --w10: calc( var(--w9)) + var(--gap) + var(--w1);
    --w11: calc( var(--w10)) + var(--gap) + var(--w1);
    --w12: calc( var(--w11)) + var(--gap) + var(--w1);
}

.container > .row > .col-1,
.container > .row > .col-2,
.container > .row > .col-3,
.container > .row > .col-4,
.container > .row > .col-5,
.container > .row > .col-6,
.container > .row > .col-7,
.container > .row > .col-8,
.container > .row > .col-9,
.container > .row > .col-10,
.container > .row > .col-11,
.container > .row > .col-12 {
    display: inline-block;
    float: left;
    margin-left: var(--gap);
    background-color: aquamarine;
}
.container > .row > *:first-child {
    margin-left: 0;
}

.container > .row > .col-1 { width: var(w1);}
.container > .row > .col-2 { width: var(w2);}
.container > .row > .col-3 { width: var(w3);}
.container > .row > .col-4 { width: var(w4);}
.container > .row > .col-5 { width: var(w5);}
.container > .row > .col-6 { width: var(w6);}
.container > .row > .col-7 { width: var(w7);}
.container > .row > .col-8 { width: var(w8);}
.container > .row > .col-9 { width: var(w9);}
.container > .row > .col-10 { width: var(w10);}
.container > .row > .col-11 { width: var(w11);}
.container > .row > .col-12 { width: var(w12);}
